---
import BlogCard from '../../components/BlogCard.astro';
import Layout from '../../layouts/BaseLayout.astro'
---

<Layout title='Blog | Ricardo Chu'>
  <header class="text-center sm:text-left">
    <h3 class="mb-6 text-gray-800 dark:text-gray-200 text-3xl font-bold tracking-tight sm:text-5xl">Blog</h3>
    <p class="max-w-prose mb-10 font-normal text-gray-700 dark:text-gray-300 leading-relaxed">Personal articles of things I've learned or I want to share.</p>
  </header>

  <BlogCard/>
</Layout>
