---
import Contact from '../components/Contact.astro'
import Timeline from '../components/Timeline.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { calculateAge } from '../utils/calculateAge'
---

<BaseLayout title='About | Ricardo Chu'>
  <section>
    <div class='text-center sm:text-left'>
      <h1 class='mb-6 text-gray-800 dark:text-white text-3xl font-bold tracking-tight sm:text-5xl'>🫡 About me</h1>
    </div>

    <p class='my-6 leading-relaxed text-gray-700 dark:text-gray-300'>
      I am a {calculateAge('1999-09-19')}-year-old graduate student in Electrical Engineering. From a young age, I have been fascinated by the
      intricacies of web development, exploring programming languages such as Javascript, Python, and utilizing tools like MATLAB/R for scientific and
      engineering applications.
    </p>
    <p class='mt-6 mb-12 leading-relaxed text-gray-700 dark:text-gray-300'>
      I have managed graphic design communities for over 5 years. Throughout my career, conducted research projects on topics such as the sizing of
      residential photovoltaic systems and analyzing the harmonics of electric vehicles in distribution networks. I have a strong passion for learning
      and am always seeking new knowledge and experiences.
    </p>
  </section>

  <Timeline />

  <hr class='my-10 dark:border-zinc-800' />

  <section>
    <div class='text-center sm:text-left'>
      <h1 class='mb-6 text-gray-800 dark:text-gray-200 text-3xl font-bold tracking-tight sm:text-5xl'>Contact Information</h1>
    </div>

    <Contact />

    <div class='p-3'>
      <a class='text-gray-700 dark:text-gray-300 underline' href='mailto:rczgraphics@live.com'>rczgraphics@live.com</a>
    </div>
  </section>

  <hr class='my-10 dark:border-zinc-800' />

  <section>
    <div class='text-center sm:text-left'>
      <h1 class='mb-6 text-gray-800 dark:text-gray-200 text-3xl font-bold tracking-tight sm:text-5xl'>Interests and Hobbies</h1>
    </div>

    <ul class='my-3 flex flex-col flex-wrap h-40 text-center sm:text-left text-gray-700 dark:text-gray-300'>
      <li class='p-2'>Machine Learning</li>
      <li class='p-2'>Web Development</li>
      <li class='p-2'>Power Electronics</li>
      <li class='p-2'>Graphic Design</li>
      <li class='p-2'>Play videogames</li>
      <li class='p-2'>Computers</li>
      <li class='p-2'>Read books</li>
      <li class='p-2'>Listen to music</li>
    </ul>
  </section>

  <hr class='my-10 dark:border-zinc-800' />

  <section>
    <div class='text-center sm:text-left'>
      <h1 class='mb-6 text-gray-800 dark:text-gray-200 text-3xl font-bold tracking-tight sm:text-5xl'>Skills and Expertise</h1>
    </div>
    <ul class='my-6 leading-relaxed text-gray-700 dark:text-gray-300 space-y-3'>
      <li>
        <strong>Languages:</strong>
        Native Spanish, English B2
      </li>
      <li>
        <strong>Office Suite:</strong>
        Microsfot Word, Excel, Powerpoint
      </li>
      <li>
        <strong>Design & multimedia:</strong>
        Adobe Photoshop, Premiere Pro, Affinity Designer
      </li>
      <li>
        <strong>Machine Learning:</strong>
        Multilayer Perceptron and LSTM Recurrent Neural Networks
      </li>
    </ul>
  </section>
</BaseLayout>
