---
import Contact from '../components/Contact.astro'
import Timeline from '../components/Timeline.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='About | Ricardo CHu'>
  <section>
    <div class="text-center sm:text-left">
      <h1 class='mb-6 text-gray-800 dark:text-gray-200 text-3xl font-bold tracking-tight sm:text-5xl'>
    About me
  </h1>
  </div>

  <p class='my-6 leading-relaxed text-gray-700 dark:text-gray-300'>
    Graduate student in Electrical Engineering. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Itaque molestiae hic rerum voluptate fugiat suscipit autem sed praesentium, est eius
    laudantium voluptas cupiditate dolores at. Nihil, assumenda? Culpa, reiciendis minus? Odio
    eveniet repellendus, dicta exercitationem nihil alias omnis at libero perspiciatis a in deserunt
    fugit quidem ullam beatae dolore est. Blanditiis temporibus soluta, dolorum possimus quas
    mollitia magnam deserunt molestias.
  </p>
  </section>

  <hr class="my-10 dark:border-gray-800" />

  <Timeline />

  <hr class="my-10 dark:border-gray-800" />
  
  <section>
    <Contact/>


    <div class="p-3">
      <a class="text-gray-700 dark:text-gray-300 underline" href="mailto:rczgraphics@live.com">rczgraphics@live.com</a>
    </div>

  </section>

</BaseLayout>
