---
import { Image } from '@astrojs/image/components'
import Contact from '../components/Contact.astro'
import Layout from '../layouts/BaseLayout.astro'
import { calculateAge } from '../utils/calculateAge'
const skills = [
  {
    name: 'Javascript',
    icon: 'javascript',
  },
  {
    name: 'Typescript',
    icon: 'typescript',
  },
  {
    name: 'React',
    icon: 'react',
  },
  {
    name: 'Next',
    icon: 'next',
  },
  {
    name: 'PostgreSQL',
    icon: 'postgresql',
  },
  {
    name: 'MongoDB',
    icon: 'mongodb',
  },
  {
    name: 'Node.js',
    icon: 'nodejs',
  },
  {
    name: 'TailwindCSS',
    icon: 'tailwindcss',
  },
]
---

<Layout title='Ricardo Chu'>
  <header class='mb-10 flex flex-col sm:flex-row items-center sm:items-start gap-6 justify-center sm:justify-start px-6 rounded-lg'>
    <img src='/assets/me.png' height={140} width={140} class='rounded-full' />
    <div class='text-center sm:text-left'>
      <h1 class='text-gray-800 dark:text-white text-3xl font-bold tracking-tight sm:text-5xl'>
        <span class=''>Ricardo</span> Chu Zheng
      </h1>
      <p class='mb-3 leading-relaxed text-gray-700 dark:text-white text-2xl text-gradient font-bold'>Frontend Web Developer</p>

      <p class='my-6 leading-relaxed text-gray-700 dark:text-gray-300'>
        A {calculateAge('1999-09-19')}-year-old frontend web developer with expertise in TypeScript and React. <br />
        <em class='text-sm'>Context, ES6, Zustand, Next.js, TailwindCSS and more.</em>
      </p>
      <Contact showText={false} />

      <p class='my-6 leading-relaxed text-gray-700 dark:text-gray-300'>
        My passion for web development began when I was adolescence, experimenting with HTML and CSS in my spare time. Since then, I have honed my
        skills in JavaScript and its frameworks. I thrive on solving complex problems and creating visually appealing user interfaces. I believe in
        the power of technology to make a positive impact on the world, and I'm excited to be part of this dynamic and ever-evolving industry.
      </p>
    </div>
  </header>

  <hr class='my-10 dark:border-zinc-800' />

  <!-- Favorite Techologies -->
  <section>
    <h3 class='my-3 font-semibold text-3xl text-center sm:text-left'>Technologies</h3>
    <ul class='flex flex-wrap my-6 justify-center text-gray-700 dark:text-gray-300'>
      {
        skills.map((skill) => (
          <li class='flex flex-col items-center px-6 py-3'>
            <Image width={30} height={30} format="svg" src={`https://skillicons.dev/icons?i=${skill.icon}`} alt={skill.name} />
          </li>
        ))
      }
    </ul>

    <ul class='my-3 grid grid-cols-2 sm: sm:grid-cols-3 md:grid-cols-4 text-center sm:text-left text-gray-700 dark:text-gray-300'>
      <li class='p-2'>Express</li>
      <li class='p-2'>Strapi</li>
      <li class='p-2'>Stripe</li>
      <li class='p-2'>MongoDB</li>
      <li class='p-2'>Prisma</li>
      <li class='p-2'>Bootstrap</li>
      <li class='p-2'>CSS Modules</li>
      <li class='p-2'>TailwindCSS</li>
      <li class='p-2'>JSON Web Token</li>
      <li class='p-2'>NPM</li>
      <li class='p-2'>Git</li>
      <li class='p-2'>GitHub</li>
      <li class='p-2'>Docker</li>
      <li class='p-2'>Python</li>
      <li class='p-2'>React Query</li>
      <li class='p-2'>Zustand</li>
    </ul>
  </section>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: 400%; */
    background-position: 0%;
  }
</style>
