---
import { Image } from '@astrojs/image/components'
import type { Frontmatter } from '../types'
const allPost = (await Astro.glob<Frontmatter>('../pages/blog/*.md')).filter((post) => !post.frontmatter.draft)
const { title: currentPostTitle } = Astro.props
const sortedByDateProjects = allPost
  .sort((a, b) => {
    if (a.frontmatter.pubDate > b.frontmatter.pubDate) return -1
    if (a.frontmatter.pubDate < b.frontmatter.pubDate) return 1
    return 0
  })
  .slice(0, 4)
  .filter((post) => post.frontmatter.title != currentPostTitle)
---

<div class='grid grid-cols-1 md:grid-cols-2 gap-6'>
  {
    sortedByDateProjects.map((post) => {
      const {
        frontmatter: { title, image },
      } = post
      return (
        <a
          href={post.url}
          class='rounded p-3 border  dark:border-zinc-800 hover:scale-105 transition-transform hover:transition-transform flex flex-col sm:flex-row gap-3 items-center'
        >
          <Image alt={image.alt} src={image.url} width={200} height={100} class='w-full basis-44 object-cover h-24 rounded' />
          <h3 class='font-bold text-xl flex-1'>{title}</h3>
        </a>
      )
    })
  }
</div>
