---
import { ArrowNarrowRight, BrandGithub } from 'tabler-icons-react'
const { link } = Astro.props
---

<div class='flex items-center gap-3 justify-center mt-6'>
  {
    link.source && (
      <a
        class='group flex-1 justify-center relative inline-flex items-center overflow-hidden rounded bg-gray-400  dark:bg-gray-600 px-8 py-3 text-white focus:outline-none active:bg-gray-500'
        target='_blank'
        rel='noopener noreferrer'
        href={link.source}
      >
        <span class='absolute right-0 translate-x-full transition-transform group-hover:-translate-x-4'>
          <ArrowNarrowRight />
        </span>

        <span class='text-sm font-medium transition-all group-hover:mr-4'>
          <BrandGithub size={20} />{' '}
        </span>
      </a>
    )
  }
  {
    link.demo && (
      <a
        class='group flex-1 justify-center relative inline-flex items-center overflow-hidden rounded bg-blue-600 px-8 py-3 text-white focus:outline-none active:bg-blue-500'
        target='_blank'
        rel='noopener noreferrer'
        href={link.demo}
      >
        <span class='absolute right-0 translate-x-full transition-transform group-hover:-translate-x-4'>
          <ArrowNarrowRight />
        </span>

        <span class='text-sm font-medium transition-all group-hover:mr-4'>Demo</span>
      </a>
    )
  }
</div>
